* {
  padding: 0px;
  margin: 0px;
  // overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f3c7e;
  color: white;
  transition: 0.5s all ease;
  position: sticky;
  top: 0;
  z-index: 99;

  &.active {
    background-color: white;
    color: black;
    .container{
      .links{
        button{
          background-color: #00008b;
        }
      }
    }
    .outbutton{
      background-color: #00008b;
    }
  }
  .container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0px;

    .logo {
      .text {
        font-weight: 1000;
        font-size: 4rem;
        font-family: 'Alice', serif;
        
      }
      .dot {
        color: #00008b;
        font-size: 3rem;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 1em;
      font-size: 2rem;
font-family: 'Roboto', sans-serif;


      button {
        font-size: 2rem;
        font-family: 'Cardo', serif;

      

      }
      .mobilelink{
        display: none;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 1rem;
        position: relative;
        padding: 0 0.5em;
        font-size: 2rem;
        img {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          cursor: pointer;
          
font-family: 'Roboto', sans-serif;
        }
        .options {
          display: flex;
          flex-direction: column;
          // align-items: center;
          color: grey;
          background-color: white;
          gap: 1em;
          position: absolute;
          top: 35px;
          right: 0px;
          border-radius: 10px;
          padding: 1em 1em;
          width: 150px;
          font-weight: 500;
          border: 0.2px solid gray;
        }
      }

      span {
        font-weight: 700;
      }

      button {
        background-color: transparent;
        color: white;
        padding: 0.8rem 1.7rem;
        border-radius: 5px;
        border: 1px solid 00008b;

        &:hover {
          background-color: #00008b;
        }
      }
      // &.mobileLinks{
      //     display: flex;
      //     flex-direction: column;
      //     position: absolute;
      //     span{
      //       display: block;
      //     }
      // }
    }
  }

  hr {
    width: 100%;
    height: 0%;
    border: 0.1px solid lightgray;
  }
  .hambergur {
    display: none;

    img {
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      object-fit: cover;
    }
  }
  .mobileuser{
      display: none;
      align-items: center;
      gap: 1rem;
      position: absolute;
      
      font-size: 2rem;
      .mobileoptions{
        display: none;
          flex-direction: column;
          // align-items: center;
          color: grey;
          background-color: white;
          gap: 1em;
          position: absolute;
          top: 35px;
          right: 0px;
          border-radius: 10px;
          padding: 1em 1em;
          width: 150px;
          font-weight: 500;
          border: 0.2px solid gray;

      }
      img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit: cover;
      }
      span{
        font-weight: bold;
      }
  }
  .outbutton{
    display: none;
  }

  .menu {
    padding: 5px 2px;
    font-size: 1.5rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: gray;
  }
}
@media screen and (max-width: 1000px) {
  // html{
  //   font-size: ;
  // }
  .navbar {
    .menu {
      display: none;
    }
  }
}
@media screen and (max-width: 850px) {
  html {
    font-size: 53%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }
}
@media screen and (max-width: 640px) {
  .navbar {
    .hambergur {
      display: block;
      position: absolute;
      top: 3rem;
      left: 3rem;
    }
    .mobileuser{
      display: flex;
      position: absolute;
      top: 3rem;
      right : 3rem;
      .mobileoptions{
        display: flex;
      }
    }
    .outbutton{
      background-color: transparent;
        color: white;
        border: 1px solid 00008b;
      display: block;
      position: absolute;
      top: 3rem;
      right: 3rem;
      padding: 1.1rem 2.5rem;
      font-weight: 400;
      border-radius: 5px;
      color:white;
      &:hover {
        background-color: #00008b;
      }
    
    }
    .container {
      justify-content: center;
      .logo {
        .text {
          font-size: 4.5rem;
          font-weight: bold;
        }
      }
      .links {
        
        span {
          display: none;
        }
        .link {
          display: none;
        }
        button {
         display: none;
        }
        .mobilelink{
          display: none;
        }
        .user{
          display: none;
        }
        &.mobileLinks{
          transition:all 1s ease-in-out;
          display: flex;
          flex-direction: column;
          position: absolute;
          background-color: white;
          color: darkgray;
          padding: 14rem 3rem 3rem 3rem;
          top: 0;
          left: 0;
          color: #62646a;
          height: 100vh;
          width: 150px;
          
          .mobilelink{
            display: flex;
            text-decoration: none;
            color: #62646a;
          }
          .link{
            display: block;
            font-weight: 900;
            color: #62646a;
          }
          button{
            display: block;
            background-color: #00008b;
            border: none;
            padding: 1.1rem 2.5rem;
            font-weight: 900;
            color:white;
          }
      }
      
      }
    }
  }
}
